svg,
img {
  pointer-events: none;
}

figure {
  margin: 0;
}

.wrapper {
  position: fixed;
  left: 50%;
  visibility: hidden;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 95%;
  border-radius: 1rem;
  transition: all 0.3s;
}

.active,
.volume.active {
  visibility: visible;
  opacity: 1;
}

.tns-liveregion {
  display: none;
}
