.comments {
  top: 45%;
  background: #f4f4f4;
  height: 80%;

  h3 {
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
  }

  .comments-wrapper {
    height: 90%;
  }

  .card {
    border: none;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 40px;
  }

  img {
    border-radius: 10px;
    padding-right: 5px;
    width: 60px;
    height: 55px;
  }

  img:hover {
    cursor: pointer;
  }

  .round .align-self-start {
    border-radius: 100%;
    width: 45px;
    height: 40px;
  }

  .media .comment {
    background: #f4f4f4;
    border: none;
    border-radius: 10px;
  }

  h6.user {
    color: #5c5c5c;
    font-size: 15px;
    padding-left: 15px;
    margin-bottom: 0;
  }

  h6.user:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  p.text {
    margin-bottom: 0;
    color: #8a8a8a;
    font-size: 14px;
  }

  .ml-auto {
    margin-right: 10px;
  }

  p .reply {
    color: #5c5c5c;
    font-size: 15px;
  }
}
